@import url("components/Show.css");


.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}


#list {
    background-color: rgb(38, 60, 60);
    border-radius: 2px;
}
